extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
    p
      | Loc8r was created to help people find places to sit down and get a bit of work done.
      | <br /><br />
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea illum labore quam recusandae, fugit omnis dolores, suscipit eos cum fugiat aliquam nisi ullam optio vel praesentium tempore possimus facere sequi.
      | <br /><br />
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum officia, numquam id aperiam pariatur quia iste reprehenderit architecto minus perferendis voluptatem similique qui vitae recusandae asperiores iure doloribus temporibus ipsum!